<div class="py-3 py-md-5 bg-light">
  <div class="container">
    <h4>
      My Cart &nbsp;<span><i class="fa fa-heart"></i></span>
    </h4>
    <div class="row" *ngIf="myCartList?.length > 0">
      <div class="col-md-12">
        <div class="shopping-cart">
          <div class="cart-header d-none d-sm-none d-mb-block d-lg-block">
            <div class="row">
              <div class="col-md-2">
                <h4>Products</h4>
              </div>
              <div class="col-md-2">
                <h4>Price</h4>
              </div>
              <div class="col-md-2">
                <h4>Discount</h4>
              </div>
              <div class="col-md-2">
                <h4>Discounted Price</h4>
              </div>
              <div class="col-md-2">
                <h4>Quantity</h4>
              </div>
              <div class="col-md-2">
                <h4>Action</h4>
              </div>
            </div>
          </div>

          <ng-container *ngFor="let myItem of myCartList; let i = index">
            <div class="cart-item">
              <div class="row">
                <div class="col-md-2 my-auto">
                  <a href="">
                    <label class="product-name">
                      <img
                        [src]="myItem.image"
                        style="width: 50px; height: 50px"
                        alt=""
                      />
                      {{ myItem.brand }}&nbsp;{{ myItem.pName }}
                    </label>
                  </a>
                </div>
                <div class="col-md-2 my-auto">
                  <label class="price">{{ myItem.price }} </label>
                </div>
                <div class="col-md-2 my-auto">
                  <label class="discount">{{ myItem.discount }}% </label>
                </div>
                <div class="col-md-2 my-auto">
                  <label class="discounted-price">
                    {{ getDiscountedPrice(myItem) | currency }}
                  </label>
                </div>
                <div class="col-md-2 col-7 my-auto">
                  <div class="quantity">
                    <div class="input-group">
                      <span class="btn btn1"><i class="fa fa-minus" (click)="reduceAndupdateQty(myItem.id)"></i></span>
                      <input type="text" [value]="myItem.qty" class="input-quantity" disabled/>
                      <span class="btn btn1"><i class="fa fa-plus" (click)="increaseAndUpdateQty(myItem.id)"></i></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 my-auto" style="cursor: pointer;">
                  <i class="fa-solid fa-trash-can-arrow-up" (click)="removeItemFromMyCart(myItem.id)">&nbsp; Delete</i>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="cart-total">
            <h4>Total: {{ total | currency }}</h4>
          </div>
          <div class="cart-actions">
            <button class="btn btn-success" style="  cursor: not-allowed;">Pay</button>
            <button class="btn btn-secondary" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div  *ngIf="myCartList?.length === 0">
      <p class="d-flex justify-content-center">Your cart is empty, Add an item to purchase &nbsp;<i class="fa-solid fa-cart-shopping"></i></p>
    </div>
  </div>
</div>
